<footer>
<div  id="wrapper-footer"></div>
    <div class="footerCopyright">© Copyright FoodNow Ltd. All rights reserved.</div>
    <div class="footerDesigner">Designed by Adriana, Mike and Mariana</div>
</footer> 


