<!DOCTYPE html>
<html lang="en">
  <head>

  <style>
  #nav-button { display: none !important; }
  #nav-button1 { display: none !important; }
  
  </style>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/checkout.scss" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/nav %>

    <div class="main-container">
      <h2> YOUR ORDER IS BEING PREPARED</h2>
      <hr>
          <p>You will receive a SMS message shortly with the pickup time</p>    
        <h4>ENJOY!</h4>
    </div>

  </body>
  <% include partials/footer %>
</html>
