<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FoodNow - Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <% include partials/nav %>
  <body>

    <section class="menu-container">    
        <div class="menu-body">
          <div class="menu-section-main">
            <div class="menu-item">
                <h2 class="menu-section-title">MAIN COURSE</h2>
              <div class="menu-item-name">
                Dish 1
              </div>
              <div class="menu-item-price">
                $100
              </div>
              <div class="menu-item-description">
                DESCRIPTION OF ITEM
              </div>
                <button type="button" class="btn btn-outline-secondary">Add to order</button>

            <div class="menu-item">
              <div class="menu-item-name">
                Dish 2
              </div>
              <div class="menu-item-price">
                $100
              </div>
              <div class="menu-item-description">
                DESCRIPTION OF ITEM
              </div>
                <button type="button" class="btn btn-outline-secondary">Add to order</button>
            </div>

          

          <div class="menu-section-drinks">
            <h2 class="menu-section-title">DRINKS</h2>
            <div class="menu-item">
              <div class="menu-item-name">
                Drink 1
              </div>
              <div class="menu-item-price">
                $10
              </div>
              <button type="button" class="btn btn-outline-secondary">Add to order</button>
            </div>
            

            <div class="menu-item">
              <div class="menu-item-name">
                Drink 2
              </div>
              <div class="menu-item-price">
                $10
              </div>
               <button type="button" class="btn btn-outline-secondary">Add to order</button>
            </div>
    

        </div>
        <div class="menu-body">
          <div class="menu-section-dessert">
            <h2 class="menu-section-title">DESSERT</h2>
            <div class="menu-item">
              <div class="menu-item-name">
                Dessert 1 
              </div>
              <div class="menu-item-price">
                $20
              </div>
              <div class="menu-item-description">
                DESCRIPTION DESSERT 1 
              </div>
                <button type="button" class="btn btn-outline-secondary">Add to order</button>
            </div>
            

            <div class="menu-item">
              <div class="menu-item-name">
                Dessert 2
              </div>
              <div class="menu-item-price">
                $20
              </div>
              <div class="menu-item-description">
                DESCRIPTION DESSERT 2 
              </div>
                <button type="button" class="btn btn-outline-secondary">Add to order</button>
            </div>
    </section>

  </body>
</html>
