<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/summary.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/summary.js"></script>

  </head>
  <body>
      <% include partials/nav %>

      <div class="row">
        <div class="col-75">
          <div class="container1">
            <form action="/checkout" id="submitForm" method="POST">
                        <main>
                          <div class="col-25">
                            <div class="container">
                              <h4>
                                <div>Cart</div>
                                <span class="price" style="color:black">
                                  <i class="fa fa-shopping-cart"></i>
                                </span>
                              </h4>
                            </div>
                        </main>

                <div class="row">
                  <div class="col-50">
                    <h3>Contact Information</h3>
                    <label for="fname"><i class="user"></i> Full Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your cool name in here">
                    <label for="pnumber"><i class="phonenumber"></i> Phone Number</label>
                    <input type="text" id="pnumber" name="phonenumber" placeholder="1234567890">
                    <input type="submit" value="Continue to checkout" class="btn">
                    <div class="error">Error Message</div>

                </div>

              </div>
            </form>
          </div>
        </div>
        </div>

      </div>
  </body>
</html>
