#wrapper-footer {
  color: #e8fdff;
  height: 120px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  width: 100%; }

.footerCopyright {
  color: #b7bbbc;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 12px;
  float: left;
  margin: 5px 0; }

.footerDesigner {
  color: #b7bbbc;
  padding-right: 1.5rem;
  font-size: 12px;
  float: right;
  margin: 5px 0; }
