.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: #5c5c5c; }

.menu-section {
  margin-bottom: 80px; }

.menu-section-title {
  font-family: georgia;
  font-size: 50px;
  display: block;
  font-weight: normal;
  margin: 20px 0;
  margin-top: 7rem;
  text-align: Center; }

.menu-item {
  margin: 35px 0;
  font-size: 18px; }

.menu-item-name {
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted #d5d5d5; }

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em; }

.menu-item-price {
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px; }

.menu-section-dessert {
  padding-bottom: 3rem; }

#test {
  background-image: url("/images/transparent_chicken_wings.png"); }
