#nav-bar {
        background-color: darkred;
        color: #e8fdff;
        height: 120px; 
        padding-left: 2em; 
        padding-right: 2em;
        position: fixed;
        top: 0; 
        width: 100%;
        z-index: 666;
}

#nav-bar .logo {
        margin-top: 1.5rem; 
        width: 80px;
        height: 80px;
        float: left;
        margin-top: 20px; 
        margin-right: 10px;
        left: 10px; 
}

#nav-bar .header {
        height: 5rem;
        line-height: 115px;
        color: orange;
        font-size: 200%;
        cursor: pointer;
        font-weight: bolder;
        right: 2em;
        // padding-top: 5rem; 
}

#nav-button {
        background-color: rgb(167, 150, 150);
        border-radius: 5px; 
        border: 2px solid rgb(244, 245, 244);
        color: white;
        font-weight: bold; 
        float: right;
        font-size: 20px;
        margin-top: 1.5rem;
        margin-right: 2em;
        cursor: pointer;
        padding: 15px 32px;
        text-align: left;
        text-decoration: none;
}

#nav-button1 {
        background-color: rgb(167, 150, 150);
        border-radius: 5px; 
        height: 3.95rem; 
        border: 2px solid rgb(244, 245, 244);
        color: white;
        font-weight: bold; 
        float: right;
        font-size: 20px;
        margin-top: 1.5rem;
        margin-right: 2em;
        cursor: pointer;
        padding: 15px 32px;
        text-align: left;
        text-decoration: none;
}

#burger-emoji {
        float: right; 
        margin: 0; 
        padding: 0 0 0 1rem; 
}

#nav-button:hover {
        background-color: rgb(247, 247, 247);
        color: grey;
        border: 2px solid grey; 
}

#nav-button1:hover {
        background-color: rgb(252, 248, 250);
        color: grey;
        border: 2px solid grey; 
}